.br1{
    padding-left: 100%;
}
body{
    background-color: #c858f8;
    max-width: 80%;
    padding-left: 15%;
}
main{
    padding: 8%;
    position: center;
    background-color: #d5a8f5;
    display: relative;
    padding-left: 15%;
  
}
.cores{
    margin-top: 50%;
    padding-left: -100%;
    justify-content: space-between;
    
}
.cor2 {
margin-top: 50%;
padding-left: -100%;
justify-content: space-between;
color: #330257;
}
.fildform{
    width: 100%;
    display: flex;
    padding-left: -25%;
    padding-right: 25%;


}
.cores{
    width: 98%;
    max-width: 1100px;
    /*alinhamento da caixa, pelo lado de fora*/
    margin: 0 auto;
    padding-left: -5%;
    
    
    
}

.fild{
    align-items: center;
    margin-right: 15%;
    margin-left: 1%;
    
}
.table1{
position: relative;
font-family:Roboto, sans-serif;
text-align: center;
padding-top: 4%;
padding-bottom: 4%;
padding-left: -4%;
padding-right: 4%;
border-color: #4B0082;

}

.indigo{
    background-color:#4B0082 ;
}
.darkviolet{
 background-color: #9400D3;
}
.darkorchid{
background-color: 	#9932CC;
}
.mediumorchid{
background-color: #BA55D3;
}
.purple{
background-color:#A020F0 ;
}
.darckmagenta{
background-color: #8B008B;
}
.fuchsiamagenta{
background-color: #FF00FF;
}

.violet{
background-color:#EE82EE ;
}
.orchid{
background-color: #DA70D6;
}

.plum{
background-color: #DDA0DD;
}
.mediumvioletred{
background-color: #C71585;
}
.deeppink{
background-color: #FF1493;

}













