
.p1{
    text-align: justify;
    font-family: Roboto;
}
.p2{
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.p3{
    text-align: justify;
    font-family: 'Courier New', Courier, monospace;
}

.p4{
    text-align: justify;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.p5{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}
.p6{
    text-align: justify;
    font-family: cursive;
}