.cores {
    margin-right: 100%;
    margin-top: 2%;
    display: flex;
    background-color: #d578f1;
    width: 80rem;
    height: 15px;
    padding: 1%;
    border-radius: 5% 5% 5%;
    
    
}
a{
    color: #edcdf7;  
}
span{
    
    color: #edcdf7;
    position: right;
}

body{
    background-color: #f3e6f7;
   
}
form{
    width: 90%;
    max-width: 1100px;
    /*alinhamento da caixa, pelo lado de fora*/
    margin: 0 auto;
    background-color: #d578f1;
    align-items: center;
    position: relative;
    margin-top: 48px;
    display: center;
    justify-content: space-between;
    border-radius: 2% 2%  2%  ;
    padding: 1rem;

}
form h1{
    background-color: #bc09f3;
    color: rgb(235, 229, 229);
}

fieldset{

background-color: #d578f1;
color: #f6f4f7;
}
.field{
    background-color: #d894ec;
    padding: 1rem;
}
.field-group{
    background-color: #7f0ca1;
}

 select{
     
    color: #7f0ca1;
}
button{
    background-color:#f3e6f7 ;
    transition: 5s;
    color:#7f0ca1 ;
    border: none;
    border-radius: 12% 12% 12%;
    
    
}