@media(max-width:900px){
    #page-home{
        background-position-x:70vw;

    }
  
    #main{

        align-items: center;
    }
}

    @media (min-width: 1700px){
        #main{
            background-position-x:40vw;
    
        }
    }
    @media (max-height: 760px){

        #main{
            background-position-y:200px; 

        }
    }
